@import url(https://fonts.googleapis.com/css?family=Quicksand:400,700|Paytone+One|Lato);
body {
	background: url("../images/Isao-Hashimoto-3.jpg") no-repeat fixed;
	background-size: cover;
	color: #d4ff80;
	font-family: 'Lato', sans-serif;
	padding: 70px;
	padding-left: 140px;
}

h1 {
	color: #baff33;
 	font-weight: bold;
 	font-family: 'Paytone One', sans-serif;
 	font-size: 54px;
}
	
}
#slogan {
	font-family: 'Paytone One', sans-serif;
	font-size: 24px;
}
#upcoming {
	font-family: 'Quicksand', sans-serif;
	font-style: italic;
}

li {
	font-family: 'Paytone One', sans-serif;
	list-style-type: none;
	font-size: 18px;
}

a {
	color: #baff33;
	position: absolute;
	margin-top: 50px;
}

