body {
	background: url("../images/Isao-Hashimoto-3.jpg") no-repeat fixed;
	background-size: cover;
	color: #d4ff80;
	font-family: 'Lato', sans-serif;
	padding-left: 30px;
}

h1 {
	color: #baff33;
 	font-weight: bold;
}

#upcoming {
	font-style: italic;
}

li {
	list-style-type: none;
}

a {
	color: #baff33;
	position: absolute;
	margin-top: 50px;
}

